.container {
    margin: 100px;
}

body {
    background-color: peachpuff;
    font-family: 'Times New Roman';
}

h1 {
    font-size: 4em;
    text-align: center;
    font-style: oblique;
}

img {
    margin-left: 0;
}

#name {
    text-align: right;
}

p {
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5;
    color: black;
}


#first:first-letter {
    font-size: 3em;
    line-height: 0;
}

a {
    color: darkred;
    align-content: left;
    size: 2em;
}